html,
body {
  height: 100%;
}

body {
  margin: 0px;
  padding: 0px;
  background: #e4c65d;
  font-family: "Questrial", sans-serif;
  font-size: 12pt;
  color: rgba(0, 0, 0, 0.6);
}

h1,
h2,
h3 {
  margin: 0;
  padding: 0;
  color: #404040;
}

p,
ol,
ul {
  margin-top: 0;
}

ol,
ul {
  padding: 0;
  list-style: none;
}

p {
  line-height: 180%;
}

a {
  color: #e4c65d;
}

a:hover {
  text-decoration: none;
}

.container {
  margin: 0px auto;
  width: 1200px;
}


/* Social Icon Styles */

ul.contact {
  margin: 0;
  padding: 2em 0em 0em 0em;
  list-style: none;
}

ul.contact li {
  display: inline-block;
  padding: 0em 0.1em;
  font-size: 1em;
}

ul.contact li span {
  display: none;
  margin: 0;
  padding: 0;
}

ul.contact li a {
  color: #fff;
}

ul.contact li a:before {
  display: inline-block;
  background: #e2ad1c;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #ffffff;
}


/* Button Style */

.button {
  display: inline-block;
  margin-top: 2em;
  padding: 0.8em 2em;
  background: #e4c65d;
  line-height: 1.8em;
  letter-spacing: 1px;
  text-decoration: none;
  font-size: 1em;
  color: #fff;
}

.button:before {
  display: inline-block;
  background: #8dcb89;
  margin-right: 1em;
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 20px;
  text-align: center;
  color: #272925;
}


/* Heading Titles */

.title {
  margin-bottom: 3em;
}

.title h2 {
  font-size: 2.8em;
}

.title .byline {
  font-size: 1.1em;
  color: #6f6f6f;
}


/* Header */

#header-wrapper {
  overflow: hidden;
  padding: 2em 0em;
  background: #fff;
}

#header {
  position: relative;
}


/* Logo */

#logo h1 {
  display: inline-block;
  margin-bottom: 0.2em;
  font-size: 3.5em;
}

#logo a {
  text-decoration: none;
  color: #e4c65d;
}

#logo span {
  padding-right: 0.5em;
  text-transform: uppercase;
  font-size: 0.9em;
  color: #e4c65d;
}

#logo span a {
  color: #e4c65d;
}


/* Menu */

#menu {
  position: absolute;
  right: 0;
  top: 0;
  border-left: 1px solid rgba(0, 0, 0, 0.2);
}

#menu ul {
  display: inline-block;
  padding: 1em 2em 0em 2em;
  text-align: center;
}

#menu li {
  display: inline-block;
}

#menu li a,
#menu li span {
  display: inline-block;
  padding: 1.3em 1.5em;
  text-decoration: none;
  font-size: 0.9em;
  font-weight: 600;
  text-transform: uppercase;
  outline: 0;
}

/* #menu li:hover a,
#menu li.active a,
#menu li.active span {
} */

#menu .current_page_item a {
  background: #e4c65d;
  color: #fff;
}


/* Banner */

#banner {
  padding: 4em 0em 3em 0em;
}


/* Wrapper */

.wrapper {
  overflow: hidden;
  padding: 5em 0em 5em 0em;
  background: #fff;
}

#wrapper1 {
  background: #fff;
}

#wrapper2 {
  overflow: hidden;
  background: #f3f3f3;
  padding: 5em 0em;
}


/* Page */

#page-wrapper {
  overflow: hidden;
  background: #f3f3f3;
  padding: 5em 0em;
}

#page .title h2 {
  font-size: 1.6em;
}


/* Content */

#content {
  float: left;
  width: 700px;
  padding-right: 100px;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

/* Sidebar */

#sidebar {
  float: right;
  width: 350px;
}

#sidebar h3 {
  padding-bottom: 0.5em;
  font-weight: 300;
}

#sidebar .section {
  margin-top: 3em;
}


/* Copyright */

#copyright {
  overflow: hidden;
  padding: 5em 0em;
  border-top: 1px solid rgba(255, 255, 255, 0.08);
  text-align: center;
}

#copyright p {
  letter-spacing: 1px;
  font-size: 0.9em;
  color: rgba(255, 255, 255, 0.6);
}

#copyright a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8);
}


/* Three Columns */

#three-column {
  overflow: hidden;
  text-align: center;
  color: #fff;
}

#three-column h2 {
  margin: 1em 0em;
  font-size: 1.5em;
  font-weight: 700;
}

#three-column .icon {
  position: relative;
  display: block;
  margin: 0px auto 0.8em auto;
  background: none;
  line-height: 150px;
  font-size: 4em;
  width: 150px;
  height: 150px;
  border-radius: 100px;
  border: 6px solid #67128f;
  text-align: center;
  color: #fff;
}

#three-column #tbox1,
#three-column #tbox2,
#three-column #tbox3 {
  float: left;
  width: 320px;
  padding: 80px 40px 80px 40px;
}

#three-column #tbox1 {
  background: #f67c78;
}

#three-column #tbox1 .button {
  background: #e85d4b;
}

#three-column #tbox2 {
  background: #79c4ca;
}

#three-column #tbox2 .button {
  background: #57aead;
}

#three-column #tbox3 {
  background: #a8c269;
}

#three-column #tbox3 .button {
  background: #809944;
}

#three-column .title {
  text-align: center;
}

#three-column .title h2 {
  font-size: 1.6em;
  color: #fff;
}

#three-column .title .byline {
  padding-top: 0.5em;
  font-size: 0.9em;
  color: #858585;
}

#three-column .arrow-down {
  border-top-color: #292929;
}

ul.tools {
  margin: 0;
  padding: 0em 0em 0em 0em;
  list-style: none;
}

ul.tools li {
  display: inline-block;
  padding: 0em 0.2em;
  font-size: 4em;
}

ul.tools li span {
  display: none;
  margin: 0;
  padding: 0;
}

ul.tools li a {
  color: #fff;
}

ul.tools li a:before {
  display: inline-block;
  background: #1abc9c;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  line-height: 120px;
  text-align: center;
  color: #ffffff;
}

ul.default {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul.default li {
  display: block;
  padding-top: 0.6em;
}

ul.default li:first-child {
  padding-top: 0;
}

ul.default a {
  text-decoration: none;
  color: #888787;
}

ul.default a:hover {
  text-decoration: underline;
}

#two-column {
  padding-top: 3em;
}

#two-column .box1 {
  float: left;
  width: 700px;
  /* border-right: 1px solid rgba(0, 0, 0, 0.1); */
}


#two-column h3 {
  padding-bottom: 0.5em;
  font-weight: 300;
}
